.zoom-background {
    background: #00000086;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    animation: zoomAndChange 50s infinite alternate;
  }

  @keyframes zoomAndChange {
    0% { 
      background-image: url('../img/FINAL/Brown\ \(2\ of\ 14\)e.jpg');
    }
    20% {
      background-image: url('../img/FINAL/Brown\ \(9\ of\ 14\)e.jpg');
    }
    40% {
        background-image: url('../img/FINAL/Native\ \(13\ of\ 14\)e.jpg');
    }
    60% {
        background-image: url('../img/FINAL/Brown\ \(5\ of\ 14\)e.jpg');
    }
    80% {
        background-image: url('../img/FINAL/Brown\ \(11\ of\ 14\)e.jpg');
    }
    100% {
        background-image: url('../img/FINAL/Native\ \(12\ of\ 14\)e.jpg');
    }
  }