#header-carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-content {
    display: flex;
    transition: transform 2s ease;
}

.carousel-content span {
    flex: 0 0 100%; /* Ensures each span takes the full width */
    margin: 0; /* Removes default margin */
}